{% extends "core/base.html" %}

{% block title %}Início{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-success">Bem-vindo à Gestão Colaborativa</h1>
    
    <div class="list-group">
        <h3>Views Padrão</h3>
        <a href="{% url 'projeto_list' %}" class="list-group-item list-group-item-action">Listar Projetos</a>
        <a href="{% url 'tarefa_list' %}" class="list-group-item list-group-item-action">Listar Tarefas</a>
        <a href="{% url 'comentario_list' %}" class="list-group-item list-group-item-action">Listar Comentários</a>
    </div>

    <div class="list-group mt-4">
        <h3>CBV - Class Based Views</h3>
        <a href="{% url 'projeto_cbv_listar' %}" class="list-group-item list-group-item-action">Listar Projetos (CBV)</a>
        <a href="{% url 'projeto_cbv_criar' %}" class="list-group-item list-group-item-action">Criar Projeto (CBV)</a>
        <a href="/projetos/cbv/1/" class="list-group-item list-group-item-action">Detalhar Projeto ID 1 (CBV)</a>
        <a href="/projetos/cbv/editar/1/" class="list-group-item list-group-item-action">Editar Projeto ID 1 (CBV)</a>
        <a href="/projetos/cbv/deletar/1/" class="list-group-item list-group-item-action">Deletar Projeto ID 1 (CBV)</a>
    </div>

    <div class="list-group mt-4">
        <h3>FBV - Function Based Views</h3>
        <a href="{% url 'projeto_fbv_listar' %}" class="list-group-item list-group-item-action">Listar Projetos (FBV)</a>
        <a href="{% url 'projeto_fbv_criar' %}" class="list-group-item list-group-item-action">Criar Projeto (FBV)</a>
        <a href="/projetos/fbv/1/" class="list-group-item list-group-item-action">Detalhar Projeto ID 1 (FBV)</a>
        <a href="/projetos/fbv/editar/1/" class="list-group-item list-group-item-action">Editar Projeto ID 1 (FBV)</a>
        <a href="/projetos/fbv/deletar/1/" class="list-group-item list-group-item-action">Deletar Projeto ID 1 (FBV)</a>
    </div>
    
</div>
{% endblock %}
